modules = ["nodejs-20", "web", "bash"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/api-server: API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/p2p-exchange: web"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5000 pnpm --filter @workspace/p2p-exchange run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
ADMIN_EMAIL = "admin@xendrx.com"
PORT = "5000"
BASE_PATH = "/"
LOG_LEVEL = "info"
API_PORT = "8080"
VAPID_EMAIL = "support@xendrx.com"
VITE_VAPID_PUBLIC_KEY = "BDuv1syriVHJkK_ffTGAOZmpnOUDbKR1jDdH9vNbj2e6GK32-1yrZKGEQG_YUAt7EwDRkooXvxdn1OxER-n_sVc"
APP_URL = "https://60e7a590-8bd5-4d5b-936c-5a78302f6b5b-00-3i4dxfhxwqhxj.janeway.replit.dev"
VAPID_PUBLIC_KEY = "BDuv1syriVHJkK_ffTGAOZmpnOUDbKR1jDdH9vNbj2e6GK32-1yrZKGEQG_YUAt7EwDRkooXvxdn1OxER-n_sVc"
VITE_TURNSTILE_SITE_KEY = "0x4AAAAAADfw5Ve1Ks9-MMzT"
BSC_HOT_WALLET_ADDRESS = "0x24c3AaC7A62a37333885Bc9a8A82ca4fDe7321B3"
ADMIN_JWT_SECRET = "e79098d195c8a6269bdd5d8715b5cfad390efe21a755f086d384b74d6872873a"
ADMIN_PASSWORD = "a1e2y3t4"
JWT_SECRET = "d1a895bcb4467e6bd7f63bbdb1596024f2cb7882a5649cdf046c62ab0808863b"
NODE_ENV = "development"

[nix]
channel = "stable-25_05"
