modules = ["nodejs-20", "web", "bash", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "P2P Exchange Ethiopia"

[[workflows.workflow]]
name = "P2P Exchange Ethiopia"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash scripts/dev.sh"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
JWT_SECRET = "ethiop2p-dev-secret-change-in-production"
ADMIN_JWT_SECRET = "03ba394ac70d9f81b505cc6e44c6d21b09a0150a6bfa454e3c2d1981132e12b8"
ADMIN_EMAIL = "admin@xendrx.com"
ADMIN_PASSWORD = "Admin@EthioP2P2024"
PORT = "5000"
BASE_PATH = "/"
LOG_LEVEL = "info"
API_PORT = "8080"
VAPID_EMAIL = "support@xendrx.com"
VITE_VAPID_PUBLIC_KEY = "BDuv1syriVHJkK_ffTGAOZmpnOUDbKR1jDdH9vNbj2e6GK32-1yrZKGEQG_YUAt7EwDRkooXvxdn1OxER-n_sVc"
APP_URL = "https://16fd88d6-2497-49a1-af2d-2c8b5ae4711a-00-2bml7c8ekonw5.riker.replit.dev"
VAPID_PUBLIC_KEY = "BDuv1syriVHJkK_ffTGAOZmpnOUDbKR1jDdH9vNbj2e6GK32-1yrZKGEQG_YUAt7EwDRkooXvxdn1OxER-n_sVc"
VAPID_PRIVATE_KEY = "LQeljwDbd_p9BjFJufByQftP_nUghHm3-X0udBqgxUc"
VITE_TURNSTILE_SITE_KEY = "0x4AAAAAADfw5Ve1Ks9-MMzT"
BSC_HOT_WALLET_ADDRESS = "0x24c3AaC7A62a37333885Bc9a8A82ca4fDe7321B3"

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 21832
externalPort = 3000
